/*
- tag
- id (unico)
- class (duas caracteristicas)
- * (universal - reset da pagina)
*/

/* seção web */

body{
    background-color: #ebebeb;
    font-family: sans-serif;
}
#titulo-web {
    color: #860000;
}

.titulo-secao-web{
    color: #b00000;
}
.subtitulo-secao-web{
    color: #b32020;
}

.paragrafo-web {
    color: #924747;
}

/* seção mobile */

#titulo-mobile{
    color: #001374;

}

.titulo-secao-mobile{
    color: #001ca5;
}

.subtitulo-secao-mobile{
    color: #273ca7;
}

.paragrafo-mobile{
    color: #475192;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
    line-height: 1,6;
}

*{
    margin: 0;
    padding: 0;
}