body{
    background-color: lightcoral;
    background-color: rgb(228, 95, 95);
    background-color: #ff0000;
    background-color: hsl(125, 50%, 50%);
    background-color: rgba(288, 95, 95, 1);
}