* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 200vh;

}

#container{
    background-color: #ccc;
    border: 1px solid black;
    width: 80%; /* 80% do body*/
    min-height: 300px;
    margin: 100px auto 0 ;
    padding: 20px;
    border-radius: 10px;
    position:relative
}

.content {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: #3639f4;
    border-radius: 10px;
    text-align: center;
    line-height: 95px;
    color: #fff;
    /*position: relative; /* se posicisiona ao ponto de inicio do elemento*/
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    /*position: fixed;
    bottom: 50px;
    right:50px;*/

    /*position:sticky;
    top:10px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ; /* move o elemento no eixo x e y)*/
    

}